@import "theme";

html, body {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: #f8f8f8;
}

body {
    max-width: @MAX_WIDTH;
    background-color: #fff;
}

.placeholder-48 {
    height: 48px;
}

.placeholder-240 {
    height: 240px;
}

::-webkit-scrollbar {
    display: none !important;
}

i {
    text-align: center;
}
