@import "theme";

.list {
    //margin-bottom: 40px;

    .item {
        overflow: hidden;
        border-bottom: 1px solid @BORDER;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 36px;
        padding: 10px;
        line-height: 36px;

        .time {
            color: #646CFF;
            margin-right: 10px;
        }
    }

    .item:last-child {
        border-bottom: 0;
    }
}
